<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
              <binding name="BasicHttpBinding_ITransferService" closeTimeout="04:01:00"
                       openTimeout="04:01:00" receiveTimeout="04:01:00"
                       sendTimeout="04:01:00" allowCookies="false"
                       bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                       maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                       maxReceivedMessageSize="2147483647" messageEncoding="Text"
                       textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
                <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                <security mode="None">
                  <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                  <message clientCredentialType="UserName" algorithmSuite="Default"/>
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63716/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="Server.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>